#chatbot {
    border: 1px solid #424242;
    background-color: #424242;
    width: 40vh;
    min-width:170px ;
    height: 80vh;
    min-height: 660px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    
}

.messageUser{
    width:60%;
    background-color: #cd5c5c;
    border-radius: 2em;
    color:#424242;
    padding: 20px;
    float:left;
    margin-top:20px;

}
#messageForm {
    bottom: 0px;
    position: absolute;

}

.open {
    height: 70px !important;
}

.messageBot{
    width:60%;
    background-color: #FFFFFF;
    border-radius: 2em;
    color:#424242;
    padding: 20px;
    float:right;
    margin-top:20px;
}
.messageBot2{
    width:60%;
    background-color: #ce1010;
    border-radius: 2em;
    color:#fff;
    padding: 20px;
    float:right;
    margin-top:20px;
}
.messageimg{
    width:60%; 
    border-radius: 2em;
    color:#fff;
    padding: 20px;
    float:right;
    margin-top:20px;
}
.img{ 
    height: 38px;
width: 150px;
}




.typing-indicator {
    background-color: #e6e7ed;
    will-change: transform;
    width: auto;
    border-radius: 50px;
    padding: 20px;
    display: table;
    margin: 0 auto;
    position: relative;
    -webkit-animation: 2s bulge infinite ease-out;
            animation: 2s bulge infinite ease-out;
  }
  .typing-indicator::before, .typing-indicator::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #e6e7ed;
  }
  .typing-indicator::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
  }
  .typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
  }
  .typing-indicator span:nth-of-type(1) {
    -webkit-animation: 1s blink infinite 0.3333s;
            animation: 1s blink infinite 0.3333s;
  }
  .typing-indicator span:nth-of-type(2) {
    -webkit-animation: 1s blink infinite 0.6666s;
            animation: 1s blink infinite 0.6666s;
  }
  .typing-indicator span:nth-of-type(3) {
    -webkit-animation: 1s blink infinite 0.9999s;
            animation: 1s blink infinite 0.9999s;
  }
  
  @-webkit-keyframes blink {
    50% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes bulge {
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
  @keyframes bulge {
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
  html {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  body {
    display: table-cell;
    vertical-align: middle;
  }